.content_main {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.heading_text {
  color: rgb(33, 35, 39);
}

.course_heading {
  font-size: 32px;
}

.course_by {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left_portion {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 14px;
}

.left_portion img {
  height: 36px;
  border-radius: 50px;
}

.right_portion {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.right_portion p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.right_portion p:hover {
  color: #395bca;
}

/* main content */

.main_content_wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}

.main_content_wrapper .left_main {
  display: flex;
  flex-direction: column;
  width: 70%;
  box-sizing: border-box;
  padding-right: 30px;
  min-height: 100px;
}

.main_content_wrapper .left_main .course_img {
  width: 100%;
  height: auto;
}

.price {
  display: flex;
  align-items: center;
  gap: 20px;
}

.offer_price {
  color: rgb(33, 35, 39);
  font-weight: 700;
  font-size: 26px;
}

.original_price {
  font-size: 14px;
  text-decoration: line-through;
  padding-top: 5px;
}

.course_status {
  display: flex;
  align-items: center;
  gap: 15px;
}

.course_status span {
  font-size: 20px;
}

.add_cart_btn_wrapper {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add_cart_btn {
  color: #fff;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-color: #395bca;
  width: 400px;
  border-radius: 6px;
  background-color: #3e64de;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.add_cart_btn:hover {
  background-color: #395bca;
}

.learn_stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stack1,
.stack2,
.stack3 {
  line-height: 35px;
  width: 100/3;
}

.main_content_wrapper .right_main {
  display: flex;
  flex-direction: column;
  width: 30%;
  box-sizing: border-box;
  background: #fcfcfd;
  /* box-shadow: 0px 3px 8px #dddddd; */
  min-height: 100px;
  border-radius: 8px;
  border: 1px solid #ddd;
  height: fit-content;
}

.right_main .topBar {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.right_main .topBar img {
  height: 50px;
  border-radius: 100px;
}

.right_main .topBar div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.right_main .topBar > p {
  font-weight: 600;
  color: #212327;
}

.right_main .topBar div p {
  font-weight: 700;
  color: #212327;
}

.suitability,
.highlights,
.timings,
.requirements,
.tags {
  padding-left: 30px;
  padding-right: 30px;
}

.suitability h3,
.highlights h3,
.timings h3,
.requirements h3,
.tags h3 {
  padding-top: 20px;
  padding-bottom: 10px;
}

.suitability ul,
.highlights ul,
.timings ul,
.requirements ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.suitability ul li,
.highlights ul li,
.timings ul li,
.requirements ul li {
  color: rgb(33, 35, 39);
}

.tags {
  padding-bottom: 30px;
}

.tags div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.tags a {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid rgb(197, 198, 199);
  color: rgb(88, 91, 97);
  transition: all 0.1s linear;
  text-decoration: none;
  border-radius: 5px;
}

.tags a:hover {
  border: 1px solid #395bca;
  color: #3e64de;
}

@media (max-width: 1200px) {
  .content_main {
    padding-left: 50px;
    padding-right: 50px;
  }

  .main_content_wrapper .left_main {
    width: 100%;
    padding-right: 0;
  }

  .main_content_wrapper .right_main {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .content_main {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 400px) {
  .add_cart_btn {
    width: 300px;
  }
}
