.accordion_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  cursor: pointer;
  background: #fff;
}

.accordion_content:hover {
  background: #eff1f6;
}

.left_portion {
  display: flex;
  align-items: center;
  gap: 10px;
}

.left_portion .icon {
  color: rgba(33, 35, 39, 0.5);
  font-size: 20px;
}

.left_portion p {
  margin: 0;
  color: rgb(33, 35, 39);
}

.right_portion {
  color: rgba(33, 35, 39, 0.5);
  font-size: 20px;
}
